{% extends 'base.html.twig' %}
{% block main %}
<div class="container" style="margin-bottom: 200px">
    <h2 style="text-align: center">Contact</h2>
    <div class="row">
        <div class="col">
            <div style="width: 100%">
                <iframe width="100%" height="600"
                        src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=tinwerf+(ROC)&ie=UTF8&t=&z=16&iwloc=B&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                            href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a>
                </iframe>
            </div>
        </div>
    </div>
    {% endblock %}