{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <h2 style="font-family: 'Arial Black'; color: #AA3333; margin-top: 50px">Welkom bij Trainings Centrum Den
            Haag</h2>
        <p>Den Haag Training Center is een sportschool waar onder professionele begleiding <br>
            in een veilige omgeving verschillende soorten martial arts-, indoor bootcamp, <br>
            personal- en small group trainingen worden aangeboden. Hier kan je je inschrijven <br>
            op een les of uitschrijven op een les</p>
{#        <button type="submit" class="btn btn-info"><a style="text-decoration: none; color: white" href="/inschrijven">inschrijven</a></button>#}
    </div>
{% endblock %}